@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-style: normal;
    src: url('../fontes/Raleway-VariableFont_wght.ttf');
}

:root{
    --fonte-sans: 'Raleway';
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--fonte-sans);
}

.container{
   /* border: 1px dotted rgba(0, 0, 0, 0.425);*/
    display: flex;
    flex-flow: row nowrap;
    align-items: center;   
    height: 60px;

}

#que-um{
    display: flex;
    align-items: center;
}

.item{
    display: flex;
   /* border: 1px dotted rgba(0, 0, 0, 0.425); */
    width: 100vw;
}

#search{

}

#loca{
    color: rgb(212, 78, 0);
    font-size: 2em;
    order: -2;
}

#search{
    font-size: 2.5em;
    color: gray;
    order: 3;
}

#logo{
    font-family: var(--fonte-sans);
    align-self: center;
    float: right;
    font-size: 1.6em;
    order: 0;
    color: rgb(212, 78, 0);
}

.container-pai{
    display: flex;
    flex-flow: row nowrap;
}

.container-dois{
    /*border: 1px dotted rgba(0, 0, 0, 0.425);*/
    display: flex;
    width: 100vw;
    height: 50px;
    flex-flow: row nowrap;
    align-items: center;
    background-color: rgb(212, 78, 0);
    flex: 1 1;
}

.item-dois{
    color: white;
}

#logo-dois{
    align-self: center;
    float: right;
    font-size: 1.6em;
    margin-left: 20px;
}

#plane{
    margin-left: 10px;
}

.container-tres{
    /*border: 1px dotted rgba(0, 0, 0, 0.425);*/
    display: flex;
    width: 100px;
    height: 50px;
    flex-flow: row nowrap;
    align-items: center;
    background-color: rgb(0, 0, 0);
    flex: 1 1;
}

.item-tres{
    color: white;
}

#logo-tres{
    align-self: center;
    float: right;
    font-size: 1.6em;
    margin-left: 20px;
}

.container-quatro{
    /*border: 1px dotted rgba(0, 0, 0, 0.425);*/
    display: flex;
    width: 100vw;
    height: 50px;
    flex-flow: row nowrap;
    align-items: center;
    background-color: rgb(0, 0, 0);
    flex: 1 1;
}

.item-quatro{
    color: white;
}

#logo-quatro{
    align-self: center;
    float: right;
    font-size: 1.6em;
    margin-left: 20px;
}

#cama{
    margin-left: 10px;
}

main h1{
    margin-top: 30px;
    margin-left: 18px;
    font-family: var(--fonte-sans);
    color: black;
    font-weight: 100;
}

main p{
    margin-top: 20px;
    margin-bottom: 7px;
    margin-left: 20px;
    font-family: var(--fonte-sans);
    color: rgb(114, 114, 114);
}

form{
    margin-top: 10px;
    margin-left: 18px;
}

form > label {
    font-size: 1.2em;
    color: rgb(114, 114, 114);
    font-family: var(--fonte-sans);
}

#ifrom{
    margin-bottom: 10px;
}

form > input[type=text] {
    padding: 10px;
    width: 90vw;
    font-size: 1em;
    border: 1px solid rgb(158, 158, 158);
}

form > input[type=submit] {
    padding: 13px;
    border-radius: 0px;
    border-style: none;
    background-color: rgb(95, 95, 95);
    margin-top: 15px;
    color: white;
    font-size: 1em;
    font-family: var(--fonte-sans);
}

::placeholder{
    color: rgb(158, 158, 158);
}

.imagens{
    display: flex;
    margin-top: 15px;
    max-width: 100vw;
    margin: auto;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.image{
    margin: auto;
    position: relative;
    margin-top: 10px;
    display: block;
}

.image p{
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    font-size: 1.5em;
    margin-bottom: 25px;
    font-family: var(--fonte-sans);
}

#travel{
    font-size: 1.2em;
    margin-bottom: 23px;
}

#ocean{
    display: block;
    margin: auto;
    text-align: center;
}

#round{
    color: rgb(158, 158, 158);
    font-size: 1.2em;
}

#present{
    font-size: 1.3em;

}

.botao{
    border-style: none;
    border-radius: 8px;
    border: 1px solid rgb(158, 158, 158);
    color: rgb(83, 83, 83);
    padding: 15px;
    font-size: 1.2em;
    margin-top: 15px;
    margin-left: 20px;
    cursor: pointer;
    transition: .3s;
    transition-timing-function: ease;
}

.botao:hover{
    border: 1px solid rgb(83, 83, 83);
    color: rgb(158, 158, 158);
    
}

#montanha{
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 25px;
}

.cinza{
    position: relative;
    margin: auto;
    justify-content: center;
    height: 543px;
    width: 90vw;
    background-color: gray;
    display: block;
}

.cinza p{
    font-size: 1.5em;
    margin-bottom: 20px;
}

.cinza h1{
    font-size: 2.8em;
    padding-top: 38px;
    font-weight: 700;
}

.cinza h1, .cinza p, .cinza > form > label{
    color: white;
}

.cinza label{
    font-size: 1.5em;
}

.cinza > form > input[type=email] {
    width: 70vw;
    height: 63px;
    font-size: 1.3em;
}

.cinza > input:focus-within{
    background-color: white;
    border: none;
}

::placeholder{
    text-align: left;
    color: rgb(185, 185, 185);
}

.cinza > form > input[type=submit] {
    background-color: #f38981;
    position: absolute;
    bottom: 0;
    margin-bottom: 25px;
    height: 57px;
    width: 145px;
    font-size: 1.3em;
    cursor: pointer;
    transition: .3s;
    transition-timing-function: ease;
}

.cinza > form > input[type=submit]:hover{
    background-color: #cf6c65;
}

#contato{
    font-size: 2.6em;
}

#inform{
    margin-left: 20px;
}

.icones{
    text-align: center;
    margin: auto;
    align-items: center;
}

.icones h1{
    font-size: 1.5em;
    margin-bottom: 40px;
}

.sociais{
    margin: auto;
    display: block;
    margin-bottom: 40px;
}

#finais input[type=text] {
    border: 1px solid rgb(158, 158, 158);
    padding: 20px;
    margin-top: 15px;
}

#finais ::placeholder{
    font-size: 1.2em;
}

#finais input[type=email] {
    border: 1px solid rgb(158, 158, 158);
    padding: 20px;
    width: 90vw;
    margin-top: 15px;
    font-size: 1.2em;
}

#send{
    background-color: black;
    height: 55px;
    width: 155px;
    margin-left: 10px;
    cursor: pointer;
}

#send:hover{
    background-color: rgb(138, 138, 138);
}

